* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: #fff;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Wix Madefor Display';
}

h1 {
    font-size: 50pt;
    text-transform: uppercase;
    text-shadow: 4px 4px 10px #808080;
}

h2 {
    font-size: 25pt;
}

#company-name {
    color: #dec9b9;
    font-size: 1.5rem;
}

#intro, #fan-fav, #team {
    padding: 4em 0;
}

#header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-left: 1.25em;
}

#header {
    background-color: #000;
}

nav ul li a:link, nav ul li a:visited {
    color: #dec9b9;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
    color: #fff;
}

#hero-banner {
    height: 60vh;
    background-color: #7251b5;
    background-image: url(../images/ice-cream-cones.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#intro {
    background-color: #7251b5;
}

#intro p {
    max-width: 50%;
}

#fan-fav {
    background-color: #000;
    color: #dec9e9;
}

#fan-fav ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

#fan-fav ol li {
    width: 50%;
    padding-right: 15%;
}

#team {
    background-color: #7251b5;
}

#team h2, .team-intro {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5em;
    gap: 1em;
}

.team-grid article {
    background-color: #6647a6;
    border-radius: 20px; /* rounding the corners of the boxes */
    padding: 2em 0; /* top/bottom then left/right */
    text-align: center; /* can center other elements like images */
}

.team-grid article img {
    width: 80px;
    border-radius: 50%; /* only works if it is a perfect square. rectangles will become ovals */
    filter: grayscale(100);
}

.team-grid h3 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Wix Madefor Display';
}

.team-grid article p {
    margin-top: 0;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 1em 0;
}
